.Menu-header{
    background-image: url('../../assets/assets/Menu22.png');
    background-size: cover;
    background-position: center;
    height: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.Menu-header h1{
    top: 43%;
    position: absolute;
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}
.Menu-header p{
    font-weight: 400;
    color: white;
    font-size: max(2.5vw,18px);
    text-align: center;
    position: absolute;
    top: 60%;
}
.Menu{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.explore-menu h1{
    color:#262626;
    font-weight: 500;
}
.explore-menu-text{
    max-width: 60%;
    columns:#808080;

}
.explore-menu-list{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:30px;
    text-align:center;
    margin:20px 0px;
    overflow-x:scroll;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item img{
    width:7.5vw;
    min-width:80px;
    cursor:pointer;
    border-radius:50%;
    transition:0.2s;
}
.explore-menu-list-item p{
    margin-top:10px;
    color:#747474;
    font-size:max(1.4vw,16px);
    cursor:pointer;
}

.explore-menu hr{
    margin:10px,0px;
    height:2px;
    background-color:#e2e2e2;
    border:none;
}
.explore-menu-list-item .active{
    border:4px solid tomato ;
    padding:2px;
}