.hero {
  height: 100vh;
  background-image: url("../assets/restaurant-logo-2.png"); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Initial state (logo above screen) */
.hero-logo {
  width: 420px;
  transform: translateY(-200px);
  opacity: 0;
  transition: all 1.2s ease-out;
}

/* Final settled position */
.hero-logo.animate {
  transform: translateY(0);
  opacity: 1;
}
